﻿@model CinemaAppPro.Models.CinemaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinemaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaCalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaSector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaSector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CinemaRoom)
        </dt>
         <dd>
            @foreach (var item in Model.CinemaRoom)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CinemaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
