﻿@model IEnumerable<CinemaAppPro.Models.Cinema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CinemaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinemaTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinemaCalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinemaSector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaCalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaSector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CinemaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CinemaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CinemaID })
        </td>
    </tr>
}

</table>
