﻿@model CinemaAppPro.Models.Protagonist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Protagonist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProtagonistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtagonistName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProtagonistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
