﻿@model CinemaAppPro.Models.MoviesViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classification.ClassificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classification.ClassificationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Protagonist)
        </dt>

        <dd>
           @foreach (var item in Model.Protagonist)
           {
               if (item.Checked)
               {
                   <div>@item.Name</div>
               }
           }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language.LanguageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtitle.SubtitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtitle.SubtitleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDirector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDirector)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
