﻿@model CinemaAppPro.Models.Rate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateSchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateSchedule)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
