﻿@model CinemaAppPro.Models.CinemaRoomsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CinemaRoom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rate.RatePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate.RatePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate.RateDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate.RateDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate.RateSchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate.RateSchedule)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CinemaRoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaRoomName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>

        <dd>
            @foreach (var item in Model.Movie)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CinemaRoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
