﻿@model IEnumerable<CinemaAppPro.Models.CinemaRoom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rate.RatePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinemaRoomName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rate.RatePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaRoomName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CinemaRoomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CinemaRoomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CinemaRoomID })
        </td>
    </tr>
}

</table>
